@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/*
font-family: "Montserrat", sans-serif;
font-family: "Lato", sans-serif;
*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

h1{
  font-family: "Montserrat", sans-serif;
}

nav{
  padding: 1rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
/* 
nav ul{
  display: flex;
}

nav ul li{
  padding: 20px;
  list-style: none;
}

nav ul li a{
  text-decoration: none;
  font-weight: bold;
  color: #4772a9;
} */
.carrito{
  display: flex;
  align-items: center;
  gap: .5rem;
  color: #4772a9;
  font-weight: bold;
}

.carrito button{
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.greeting{
  text-align: center;
}
